[submodule "microservices/ordering"]
	path = microservices/ordering
	url = https://github.com/rauansm/algashop-ordering.git
[submodule "docs"]
	path = docs
	url = https://github.com/rauansm/algashop-docs.git
[submodule "microservices/billing"]
	path = microservices/billing
	url = https://github.com/rauansm/algashop-billing.git
[submodule "microservices/product-catalog"]
	path = microservices/product-catalog
	url = https://github.com/rauansm/algashop-product.git
